<p id="notice"><%= notice %></p>

<%= form_tag(:controller=>"messages",:action=>"validate_pass",:id=>params[:id]) do %>
    <%= label_tag(:q, "Введите пароль") %>
    <%= password_field_tag(:pass) %>
    <%=hidden_field_tag("id", params[:id])%>
    <%= submit_tag "Confirm"%>
<% end %>